@import url('tram-pub://dreamicons/style.css');
@import url('tram-pub://fonts/stylesheet.css');

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: 'Aileron';
  user-select: none;
  cursor: default;
}

.stickyColumn {
  width: calc(100% - 165px);
  height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 1.2em;
  cursor: default;
}

.fakeColumn {
  width: calc(100% - 165px);
  height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: default;
}

.column {
  width: calc(100% - 165px);
  height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  color: var(--main-color);
}

.column:hover {
  background-color: var(--main-highlight-bg-color);
  color: var(--main-highlight-text-color);
  cursor: pointer;
  animation-fill-mode: forwards;
}

.column:active {
  background-color: var(--main-highlight-text-color);
  color: var(--main-highlight-bg-color);
  transition-duration: 0.075s;
  animation-fill-mode: forwards;
}

.stickyColumn p {
  cursor: default;
}

.bodyBlock {
  width: calc(100% - 165px);
  min-height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  cursor: default;
  animation-fill-mode: forwards;
}

.bodyBlock:hover {
  background-color: rgba(55, 55, 55, .75);
  transition-duration: 0.075s;
  animation-fill-mode: forwards;
}

.uiButton {
  background-color: transparent;
  border: none;
  color: var(--background-color);
  width: 65px;
  height: 65px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 18px;
}

.uiButton:hover {
  background-color: var(--main-highlight-bg-color);
  color: var(--main-highlight-text-color);
  animation-fill-mode: forwards;
}

.uiButton:active {
  background-color: var(--main-highlight-text-color);
  color: var(--main-highlight-bg-color);
  transition-duration: 0.075s;
  animation-fill-mode: forwards;
}

#dynamicButton {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 90;
}

.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cccccc;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  background-color: #eeeeee;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  background-color: var(--main-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 0;
  background: #eeeeee;
}

.bgColorConfetti {
  background-color: #E83151 !important;
}

.bgColorDreamsicle {
  background-color: #F8A100 !important;
}

.bgColorBittersweet {
  background-color: #FF765E !important;
}

.bgColorBondi {
  background-color: #009FB7 !important;
}

.bgColorJade {
  background-color: #2db78b !important;
}

.bgColorClover {
  background-color: #29bf12 !important;
}

.bgColorHydrant {
  background-color: #C5132B !important;
}

.bgColorLemon {
  background-color: #F7D425 !important;
}

.bgColorTangerine {
  background-color: #FF5432 !important;
}

.bgColorJam {
  background-color: #A4036F !important;
}

.bgColorCobalt {
  background-color: #2F4FC8 !important;
}

.bgColorBubblegum {
  background-color: #ff1481 !important;
}

.bgColorUFO {
  background-color: #0cce6b !important;
}

.bgColorFunk {
  background-color: #a253db !important;
}

.bgColorIndy {
  background-color: #6969b3 !important;
}

.bgColorVermillion {
  background-color: #c3423f !important;
}

.bgColorBrick {
  background-color: #DA6A63 !important;
}

.bgColorCaramel {
  background-color: #D07934 !important;
}